---
name: AwardKing
url: /AwardKing
---
<div class="grid-block" style="min-height:150px;">
    	<div class="grid-content" style="padding: 0;">
          	<div class="section">
	            <div class="container">
	              <div class="header">
	                <div id="logo"></div>             
	                <p id="signin">
	                  <span class="hide_on_mobile">Back to Home<br></span>	                  
	                </p>
	              </div>
	            </div>           
			</div>
      	</div> 
    </div>

    <div class="grid-block">
      <div class="grid-content">
          <div class="row grid-container">
            <div class="grid-block">
              <div class="grid-content">                  
                    <div class="wrap">
                      <div class="content-left">
                        <h2 style="line-height: 36px;">Manage Badges</h2>   
                        <div class="dvBody">
                            <div style="padding-top:20px;">
                              <p class="title-green">IT'S A MOBILE APP THAT ELIMINATES MANAGEMENT OVERHEAD</p>
                              <p class="general-text">In Knotsuite employees converse, make better decisions and execute projects without any management overhead.</p>
                              <p class="title-green">APP OF APPS</p>
                              <p class="general-text">KnotSuite represents a set of interacting apps. These apps provide views into various management methods, processes and structures that emerge from employee conversations. Please see "More Previews" section for more info.</p>  
                            </div>
                        </div>
                      </div>
                      <div class="mid-separator-top"></div>
                      <div class="content-right">
                        
                        <h2>Want a preview invite?</h2> 
                         <div class="dvBody">
                          <div style="padding-top:50px">
                              <p>We are having a limited public preview release. Please register to have a glimpse of the future of work!</p>
                              <form class="signup_form" novalidate="" method="post" action="/go/launch#signup">
                                <input type="text" value="" placeholder="Your Name" name="company" id="company">
                                <input type="email" value="" placeholder="Email Address" name="email" id="email">
                                <input type="submit" value="Invite me to preview">
                              </form>
                          </div> 
                        </div> 
                      </div>
                    </div>

                    <div class="wrap" style="height: 300px;">
                      <div class="content-left" style="border:1px dashed; text-align: center;margin-top: 6px;">
                        <video height="250px" controls="">
                          <source type="video/webm" src="/assets/videos/sample.webm">
                        </video>
                      </div>
                                          
                    </div>                  
              </div>
            </div>
          </div>
          </div>
    </div>

    <div class="footer grid-block" style="min-height:30px;">
      <div class="grid-content">
          <div class="row grid-container" style="margin:auto; max-width: 100rem; display:table;">
            <ul class="inline-list">
              <li><a href="#">User Agreement</a></li>                                
              <li><a href="#">List of Parents Pending</a></li>                                
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
      </div>
    </div>